body{
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
    width: 1280px;
    margin: 0px auto;

}


/* Shared Style */

.text-primary{
    color: #006A50;
    font-size: 18;
    font-weight:800;
}


.btn-primary{
    background-color:#006A50;
    color:#FFFFFF;
    border-radius: 8px;
    border:none;
    font-weight: 600;
    font-size: 18;
}
.vision-p{
    font-weight: 400px ;
    margin: 32px 0px;
    font-size: 16px;
    color:#0E0E0E;
    opacity: 70% ;
}
h4{
    font-weight: bold;
    font-size: 20px ;
}

/* Nav Bar */
header{
    margin: 24px 0px;
}

nav{
   display:flex;
   color:#F5F5F5;
   align-items: center;
   justify-content: space-between;
}

.headname{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32;

}
.signin{
    background-color: #F1F1F3;
    padding: 15px 30px;
    border-color: #006A50;
    border-radius: 8px ;

}

.banner{
    background-color: #C6E4D6;
    
    padding: 80px 5px 80px 100px;
    align-items: center;
    border-radius: 24px;
    display: flex;
    gap: 64px;

}

.banner-content{
    max-width: 520px;
    font-weight: medium;
    font-size: 24px;
    

}
.banner-title{
    opacity: 50%;
}
.btn1
{
    padding: 17px 34px ;
}

.section-2{
    margin :80px 0px;

}
.section-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 40px;
}
.innovation
{
    
    display: flex;
    color: #0e0e0e;
    gap: 24px;
    
}

.inno-img1{
    background-color: #FFFFFF;
    padding: 24px;

}

.vision-content{
    display: flex;
    gap:24px;
}
.vision-border{
    border-radius: 16px;
}

.vision-card1{
    background-color: #5490F5;
    background-blend-mode: color;
    padding: 32px;
   

}
.vision-card2{
    background-color: #C6E4D6;
    background-blend-mode: color;
    padding: 32px;
   

}
.vision-card3{
    background-color: #F7EBCF;
    background-blend-mode: color;
    padding: 32px;

}
.quote-content{
       background-color: #FFFFFF;
       border:1px solid #0e0e0e2a ;
       border-radius: 16px;
       margin:32px 0px ;
       padding: 48px 24px;
       display: flex;
}

#quote{
    
    background: url(../assets/quote-bg.png);
    background-size: 64px 64px;
    background-repeat: no-repeat;
    
    
    
    
}
.container
{   background-color: #FFFFFF;
    border-radius:24px ;
    margin: 24px 0px;
    padding: 48px;
   
    
}

.card
{  display: flex;
   
}

#img1{
    width:408px ;
    height: 306px;
    border-radius: 24px ;   
    margin: 48px 0px;
}
.card-content{
   padding: 32px;
}

 
.card-date{
    font-weight: 300px;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;

}
.read-more{
    background-color: #006A50;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 13px 26px;
    border-style: none;

}

.donate-content{
    margin-top:80px  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.content-title{
    font-size: 40px;
    font-weight: bold;
}
.taka{
    display: flex;
    

}
.button-content{
    padding: 40px;
    margin:24px;
    background-color: #FFFFFF;
    border-radius: 16px;


}

.btn-taka{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
    opacity: 80%;
}

.donate-p{
    font-weight: 400px ;
    margin: 24px 0px 32px;
    font-size: 16px;
    color:#0E0E0E;
    opacity: 70% ;
}












