body{
    margin: 0px;
    padding: 0px;
    font-family: "Fira Sans", serif;
  

}


/* Shared Style */

.text-primary{
    color: #006A50;
    font-size: 18;
    font-weight:800;
}

/* Nav Bar */
header{
    margin: 24px 160px;
}

nav{
   display:flex;
   color:#F5F5F5;
   align-items: center;
   justify-content: space-between;
}

.headname{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32;

}
.signin{
    background-color: #FFFFFF;
    padding: 15px 30px;
    border-color: #006A50;
    border-radius: 8px ;

}

.banner{
    background-color: #C6E4D6;
    width: 1400px;
    height: 560px;
    padding: 80px 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 24px;
    display: flex;
    gap: 64px;

}








